.summit-btn {
    background-color: #4a7aec;
    min-width: 150px;
    height: 54px;
    padding: 0 30px;
    border-radius: 70px;
    color: #fff;
    font-size: 14px;
    line-height: 54px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.post-content ol li, .post-content ul li {
        padding-left: 1.3em;
    margin-left: 1.3em;
}

.rounded-lg {
    border-radius: 2.3rem!important
}

